<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MangoSurvey">

    <!-- call MangoSurvey.selectFromQuestionList -->
    <select id="selectFromQuestionList" parameterType="Map" resultType="Map">
        SELECT * 
        FROM QUESTION
    </select>

    <!-- call MangoSurvey.selectFromAnswerList -->
    <select id="selectFromAnswerList" parameterType="Map" resultType="Map">
        SELECT * 
        FROM ANSWER
    </select>

</mapper>